@using AspProjectDomain.Entities.Identity
@model AspProjectDomain.Models.Employee
@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = $"Сотрудник id:{Model.Id}";
}


<h3>Сотрудник</h3>

<hr />
<table class="table table-bordered">

    <tr>
        <td>@Model.Id</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Patronymic</td>
        <td>@Model.Age</td>
        <td>@Model.Post</td>
    </tr>
</table>

<hr />

<a asp-action="Index" class="btn btn-default">К списку</a>
@if (User.IsInRole(Role.Administrator))
{
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Удалить</a>
}


